QPushButton {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 43, 54);
  border-radius: 10px;
}

QPushButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 76, 100);
  border-radius: 10px;
}

QPushButton:pressed {
  color: rgb(255, 255, 255);
  background-color: rgb(90, 164, 253);
  border-radius: 10px;
}
