QMenu {
  background-color: rgb(39, 43, 54);
  margin: 10px;
}

QMenu::item {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 43, 54);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

QMenu::item:selected {
  background-color: rgb(51, 58, 72);
}

QMenu::item:pressed {
  background-color: rgb(51, 76, 100);
}
